body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
}

r {
    display: block;
    grid-template-rows: 20px;
    text-align: center;
    font-weight: 1000;
    font-size: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 0;
}

z {
    display: block;
    grid-template-rows: 20px;
    text-align: center;
    font-weight: 1000;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    margin-bottom: 0;
}

.Smoant {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;



}

.Vaporesso {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
}

.Rincoe {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 270px;
}

.Geekvape {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
}

.Жидкости {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px;
}

.Электронки {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px;
}

p {
    margin-left: 20px;
    font-weight: 700;
    text-align: center;
    font-size: 110%;
    max-width: 85%;
    margin-top: 0;
    margin-bottom: 0;
}

d {
    font-size: 70%;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

b {
    display: block;
    grid-template-rows: 20px;
    text-align: center;
    font-weight: 1000;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 0;

}

.img {
    width: 150px
}

.item {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}

.btn:hover {
    background: lightgreen;
}

.usercard {
    text-align: center;
}
